.title {
    font-size: 25px;
    margin: 2em;
}
.login-form {
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 2em;
    width: 90%;
    margin: auto;


    .errors {
        margin-bottom: 1em;
        color: crimson;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    input {
        margin-bottom: 2em;
        border: 1px solid lightgray;
        line-height: 2em;
        margin-top: .5em;
    }

    h2 {
        font-size: 2em;
        color: #383838;
        margin-bottom: 1em;
        text-align: center;
    }

    button {
        background-color: #6d8eeb;
        border: 1px solid #6d8eeb;
        padding: 5px 35px;
        font-size: 1em;
        font-weight: bold;
        outline: none;
        color: white;
        display: flex;
        align-items: center;
        margin: 1em 0;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color .2s ease;

        &:hover {
            background-color: #5b78c7;
        }
    }
    p {
        margin-top: 0;
    }
}
